$include /etc/inputrc
set editing-mode vi
$if mode=vi

set keymap vi-command
# these are for vi-command mode
set show-mode-in-prompt on
Control-l: clear-screen
Control-a: beginning-of-line
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2

set keymap vi-insert
# these are for vi-insert mode
set show-mode-in-prompt on
Control-l: clear-screen
Control-a: beginning-of-line
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2
$endif
